.App {
  text-align: center;
  background-color: white;
  height: 100vh;
}

.App-title {
  color:#f92222;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 40vmin;
}

.App-header {
  /* background-color: #282c34; */
  height: '10%';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Custom-list-item {
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  height: 20px;
  /* width: 300%; */
}


.Home {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  padding: 10px;
}
